.verificacion-docente {
  border: 3px dotted purple;
}

body{
    margin: 0;
    padding: 0;
}

.titulo{
    color: rgb(219, 146, 241); font-size:50px;
    background-color: rgb(231, 204, 235);
}

#banner {
    display: block;
    margin: auto;
    width: 1000px;
}

main p{
    font-size: 30px;
    color: rgb(224, 147, 231);
}